extends layout

block content
    script(src="/javascripts/admin.js")

    br
    br
    div.row.vertical-offset-100
        div.col-md-8.col-md-offset-2
            div.panel.panel-primary
                div.panel-heading
                    h3#title(class='panel-title') Utilisateurs
                div.panel-body#panelbody
                    div#newbutton
                    table.table#table
                        thead#tablehead
                        tbody#tablebody

    script(language="javascript").
        $(document).ready(function () {
            showSchoolList();
        });