extends layout

block content
    script(src="/javascripts/Menu.js")
    script(src="/javascripts/exercises/Engine.js")
    script(src="/javascripts/exercises/Score.js")

    br
    br
    div#content
    script(language="javascript").
        $(document).ready(function () {
            new Menu('javascripts/').buildMainMenu();
        });